# dev
browsers
runtime
test*.*
desktop.*
*.db
# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Virtualenv
.venv/
venv/
ENV/
env/
env.bak/

# PyCharm
.idea/

# VSCode (nếu có dev song song)
.vscode/

# MyPy / type checker
.mypy_cache/
.dmypy.json
dmypy.json

# PyInstaller
*.manifest

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
